//
//  {{{projectName}}}Helper.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Eli Kohen
//  Copyright (c) 2012 EKGDev. All rights reserved.
//

#import <Foundation/Foundation.h>

@class {{{projectName}}}Response;

@interface {{{projectName}}}Helper : NSObject

// Get the shared instance and create it if necessary.
+ ({{{projectName}}}Helper *)sharedInstance;
- (void) addHeader:(NSString*) header withValue: (NSString*) value;
- (void) removeHeader:(NSString*) header;
- (NSString *) preInjectURLParameters:(NSString *)url withObject:(NSObject *)obj;
- (NSString *) postInjectURLParameters:(NSString *)url withObject:(NSObject *)obj;
- (NSString *) escapeUrl:(NSString *)url;
- (NSMutableURLRequest*) customizeRequest:(NSMutableURLRequest*)request;
- (void) preprocessResponse: (NSURLResponse*) response;
- (NSString *) preprocessData:(NSString *)responseString;
- (BOOL) checkCorrectResponse: ({{{projectName}}}Response*) response serviceTag:(NSInteger) tag;
- (BOOL) checkConnection;
@end