/**
  {{projectName}}

  Created by Generator
  Copyright (c) 2015 EKGDev. All rights reserved.
  Version: {{version}}
*/

package {{{packagename}}}.logic.utils;

import com.google.api.client.http.HttpHeaders;
import com.google.api.client.http.HttpResponse;

import java.io.IOException;
import java.io.InputStream;

public interface BetterHttpResponse {

	HttpResponse unwrap();

	InputStream getResponseBody() throws IOException;

	byte[] getResponseBodyAsBytes() throws IOException;

	String getResponseBodyAsString() throws IOException;

	int getStatusCode();

	HttpHeaders getAllHeaders();

	Object getHeader(String header);
	
	Object getDataObject();
}