package {{{packagename}}}.logic;

public interface HttpOperation {
	
	/**
	 * Cancels and interrupts if running
	 */
	void cancel();
	
	/**
	 * Cancels interrupting depending on the parameter.
	 * @param interruptIfRunning
	 */
	void cancel(boolean interruptIfRunning);

	/**
	* Returns whether this operation is already cancelled.
	*/
	boolean isCancelled();
}
