//
//  {{{className}}}.m
//  {{{projecyName}}}
//  Version: {{{version}}}
//
//  Created by Eli Kohen
//  Copyright (c) 2012 EKGDev. All rights reserved.
//

#import "{{{dto.name}}}.h"

@implementation {{{dto.name}}}

{{#dto.fields}} 
@synthesize {{{javaName}}} = _{{{javaName}}};
{{/dto.fields}}

@end
 