//
//  {{{dto.name}}}.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Eli Kohen
//  Copyright (c) 2012 EKGDev. All rights reserved.
//

#import <Foundation/Foundation.h>
{{#dto.objectFields}}
#import "{{{iosBaseTypeSingular}}}.h"
{{/dto.objectFields}}
{{#dto.objectArrayFields}}
#import "{{{iosBaseTypeSingular}}}.h"
{{/dto.objectArrayFields}}


@interface {{{dto.name}}} : NSObject {
  
{{#dto.fields}}
    {{{typeIOS}}} *_{{{iosName}}};				///< {{{comment}}}
{{/dto.fields}}

}

{{#dto.fields}}
@property (nonatomic, strong) {{{typeIOS}}} *{{{iosName}}};
{{/dto.fields}}

@end