<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model name="" userDefinedModelVersionIdentifier="" type="com.apple.IDECoreDataModeler.DataModel" documentVersion="1.0" lastSavedToolsVersion="2061" systemVersion="12E55" minimumToolsVersion="Xcode 4.3" macOSVersion="Automatic" iOSVersion="Automatic">
    {{#coreDataTypes}}
    <entity name="{{{iosModelName}}}" representedClassName="{{{iosModelName}}}" syncable="YES">
{{{coredataFields}}}
    </entity>
    {{/coreDataTypes}}
    <elements>
        {{#coreDataTypes}}
        <element name="{{{iosModelName}}}" positionX="160" positionY="192" width="128" height="360"/>
        {{/coreDataTypes}}
    </elements>
</model>