//
//  {{{serviceName}}}Logic.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Eli Kohen
//  Copyright (c) 2012 EKGDev. All rights reserved.
//

#import <Foundation/Foundation.h> 
#import "Base{{serviceName}}Logic.h"

@interface {{{serviceName}}}Logic : Base{{{serviceName}}}Logic
  // Get the shared instance and create it if necessary.
+ ({{{serviceName}}}Logic *)sharedInstance;


@end