//
//  ConnectionDelegate.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Eli Kohen
//  Copyright (c) 2013 EKGDev. All rights reserved.
//

#import <Foundation/Foundation.h>
#import "ServiceDelegate.h"

typedef id (^ProcessDataBlock)(NSData* data, NSError** error);

@interface ConnectionDelegate : NSObject

- (void) startConnectionWithRequest: (NSURLRequest*) request tag: (NSInteger) tag delegate: (id<ServiceDelegate>) delegate andProcessDataBlock: (ProcessDataBlock) dataBlock;
- (void) cancel;

@end
