//
//  ConnectionDelegate.m
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Eli Kohen
//  Copyright (c) 2013 EKGDev. All rights reserved.
//

#import "ConnectionDelegate.h"
#import "ServiceHelper.h"

@interface ConnectionDelegate (){
}

@property (nonatomic, strong) NSMutableData *receivedData;
@property (nonatomic, strong) NSURLResponse *receivedResponse;
@property (nonatomic, strong) NSError *error;
@property (nonatomic, strong) NSURLConnection *connection;
@property (nonatomic, strong) NSURLRequest *request;

@property (nonatomic, weak) id<ServiceDelegate> delegate;
@property (nonatomic) NSInteger tag;
@property (copy) ProcessDataBlock processDataBlock;
@property (nonatomic) NSInteger timeoutRetries;

@end

@implementation ConnectionDelegate


#pragma mark - Public methods

- (void) startConnectionWithRequest: (NSURLRequest*) request tag: (NSInteger) tag delegate: (id<ServiceDelegate>) delegate andProcessDataBlock: (ProcessDataBlock) dataBlock {
	self.delegate = delegate;
	self.processDataBlock = dataBlock;
	self.tag = tag;
    self.request = request;
    self.timeoutRetries = kTimeoutRetries;
	
    [self startRequest];
}

- (void) cancel{
	if(self.connection){
		[[ServiceHelper sharedInstance] setNetworkActivityVisible:NO];
		[self.connection cancel];
	}
    
    [self cleanObject];
}

#pragma mark - Private methods

- (void) startRequest{
    self.receivedData = [[NSMutableData alloc] init];
	self.receivedResponse = nil;
	self.connection = nil;
    self.error = nil;
    
    if([[ServiceHelper sharedInstance] checkConnection]){
    	[[ServiceHelper sharedInstance] setNetworkActivityVisible:YES];
		self.connection = [[NSURLConnection alloc] initWithRequest:self.request delegate:self];
		[self.connection start];
	}
	else{
        if([self.delegate respondsToSelector:@selector(onTaskNoConnection:)]){
            [self.delegate onTaskNoConnection:self.tag];
        }
	}
}

- (void) didFinishLoading{
    
    //In case of timeout -> retry
    if(self.error.code == NSURLErrorTimedOut && self.timeoutRetries > 0){
    	if(self.connection){
    		[[ServiceHelper sharedInstance] setNetworkActivityVisible:NO];
		}
        self.timeoutRetries = self.timeoutRetries - 1;
        [self startRequest];
        return;
    }
    
	ServiceResponse *result = nil;
	NSError *error = self.error;
	if(!error){
		if(self.receivedData && self.receivedData.length > 0){
			id processedData = self.processDataBlock(self.receivedData, &error);
			result = [[ServiceResponse alloc] initWithData:processedData andResponse:self.receivedResponse];
		} else{
			result = [[ServiceResponse alloc] initWithData:nil andResponse:self.receivedResponse];
		}
	}

	if(self.connection){
        [[ServiceHelper sharedInstance] setNetworkActivityVisible:NO];
    }
	
	if (!error && _delegate) {
		if([[ServiceHelper sharedInstance] checkCorrectResponse:result serviceTag: self.tag]){
			[_delegate onTaskSuccess:result withTag:self.tag];
		}
		else{
			[_delegate onTaskFailed:result withTag:self.tag];
		}
	}
	else if (error && _delegate) {
		[_delegate onTaskError:error withTag:self.tag];
	}
    
    [self cleanObject];
}

- (void) cleanObject{
    self.receivedData = nil;
    self.receivedResponse = nil;
    self.error = nil;
    self.connection = nil;
    self.request = nil;
    self.delegate = nil;
    self.processDataBlock = nil;
}

#pragma mark -  NSURLConnectionDelegate

#ifdef NO_SSL_VALIDATION
- (BOOL)connection:(NSURLConnection *)connection canAuthenticateAgainstProtectionSpace:(NSURLProtectionSpace *)protectionSpace {
    
    return [protectionSpace.authenticationMethod isEqualToString:NSURLAuthenticationMethodServerTrust];
}

- (void)connection:(NSURLConnection *)connection didReceiveAuthenticationChallenge:(NSURLAuthenticationChallenge *)challenge {
    if ([challenge.protectionSpace.authenticationMethod isEqualToString:NSURLAuthenticationMethodServerTrust])
		[challenge.sender useCredential:[NSURLCredential credentialForTrust:challenge.protectionSpace.serverTrust] forAuthenticationChallenge:challenge];
    
    [challenge.sender continueWithoutCredentialForAuthenticationChallenge:challenge];
}
#endif

- (void)connection:(NSURLConnection *)connection didFailWithError:(NSError *)error {
    
    self.receivedData = nil;
    self.receivedResponse = nil;
    
    NSLog(@"Connection failed! Error - %@ %@",
          [error localizedDescription],
          [[error userInfo] objectForKey:NSURLErrorFailingURLStringErrorKey]);
    
    self.error = error;
	[self didFinishLoading];
}

- (void)connection:(NSURLConnection *)connection didReceiveResponse:(NSURLResponse *)response {
	
	self.receivedResponse = response;
    
    [self.receivedData setLength:0];
}

- (void)connection:(NSURLConnection *)connection didReceiveData:(NSData *)data {
    
    [self.receivedData appendData:data];
}

- (void)connectionDidFinishLoading:(NSURLConnection *)connection {
    
	[self didFinishLoading];
}

@end
