/**
  {{{serviceName}}} Service
  {{{projectName}}}

  Created by Generator
  Copyright (c) 2013 EKGDev. All rights reserved.
  Version: {{{version}}}
*/
package {{{packagename}}}.logic;

import java.util.List;
import java.util.concurrent.Executors;
import java.util.concurrent.ThreadPoolExecutor;

import {{{packagename}}}.logic.base.*;
import {{{packagename}}}.model.dto.*;
import {{{packagename}}}.loaders.NotifiedHttpRequest;
import {{{packagename}}}.loaders.{{{serviceName}}}Loaders.*;


/**
 * Servicio que realiza las llamadas a DAO,
 * Este servicio corresponde con la lógica ${serviceName}
 */
public class {{{serviceName}}}Logic extends Base{{{serviceName}}}Logic
{
    private ThreadPoolExecutor mExecutor;
/**
	 * Evitamos que se reinicialice mediante un constructor privado
	 */
    private {{{serviceName}}}Logic() { 
      mExecutor = (ThreadPoolExecutor)Executors.newFixedThreadPool(4);
    }

    /**
    * Solo se va a ejecutar la primera vez, y nos va a instanciar el objeto
    * para los posteriores usos
    */
    private static class {{{serviceName}}}Holder { 
          public static final {{{serviceName}}}Logic instance = new {{{serviceName}}}Logic();
    }

    /**
     * Obtener la instancia unica del objeto
     * @return 
     */
    public static {{{serviceName}}}Logic getInstance() {
            return {{{serviceName}}}Holder.instance;
    }

    {{#messages}}

    public static void {{{method}}}({{^emptyParams?}}{{{javaRequestParams}}},{{/emptyParams?}} NotifiedHttpRequest listener, int tag){
      {{{request.name}}} {{{request.javaInstanceName}}}=new {{{request.name}}}();
      {{#request.fields}}
      {{{request.javaInstanceName}}}.set{{{nameUcase}}}({{{javaName}}});  
      {{/request.fields}}
      {{{method}}}({{{request.javaInstanceName}}}, listener, tag);
    }

    public static void {{{method}}}({{{request.name}}} {{{request.javaInstanceName}}}, NotifiedHttpRequest listener, int tag){
      getInstance().mExecutor.execute(new {{{methodUpperCase}}}Loader({{{request.javaInstanceName}}},listener,tag));
    }

    {{/messages}}

}
