/**
  {{projectName}}

  Created by Generator
  Copyright (c) 2013 EKGDev. All rights reserved.
  Version: {{version}}
*/

package {{{packagename}}}.logic.utils;

import org.apache.http.conn.HttpHostConnectException;

import android.os.Handler;
import android.os.Message;

import {{{packagename}}}.logic.LogicHelper;

public abstract class ConnectionLoader<T> extends Handler implements Runnable{
	
	final T mRequest;
	final NotifiedHttpRequest mListener;
	final int mTag;
	
	BetterHttpResponse mResponse = null;
	Exception mException = null;
	
	public ConnectionLoader(T request, NotifiedHttpRequest listener, int tag){
		mRequest = request;
		mListener = listener;
		mTag = tag;
	}
	
	/*
	 * BACKGROUND EXECUTION
	 */
	@Override
	public void run() {
		
		try{
			mResponse = doInBackground(mRequest);
		}
		catch(Exception ex){
			mException = ex;
		}
		
		Message message = new Message();
		message.setTarget(this);
		message.what = mTag;
		message.sendToTarget();
	}
	
	protected abstract BetterHttpResponse doInBackground(T request) throws Exception;
	
	
	/*
	 * MAIN THREAD EXECUTION
	 */
	
	public void handleMessage(Message msg) {		
		
		if(mException != null){
			if(mListener != null){
				if (mException.getCause() instanceof HttpHostConnectException) {
					mListener.notifyNoConnection(mTag);
				}
				else{
					mListener.notifyErrorConnecting(mException, mTag);
				}
			}
		}
		else if(LogicHelper.getInstance().checkCorrectResponse(mResponse)){
			if(mListener != null){
            	mListener.notifySuccess(mResponse, mTag);
        	}
        }
        else{
        	if(mListener != null){
            	mListener.notifyError(mResponse, mTag);
        	}
        }
	}		
}
